* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-text-color: #242f51;
    --main-text-color-lighter: #0000008c;
    --main-color-white: #ffffff;
    --main-sub-color: #09142e;
    --main-btn-color: #2500f9;
    --main-title-font-size: 3rem;
    --main-p-font-size: 1.7rem;
    --main-transitio-duration: 0.3s;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    background-color: var(--main-color-white);
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

.btn-blue {
    height: 40px;
    font-size: 1.5rem;
    font-family: system-ui;
    font-weight: bolder;
    width: 120px;
    color: var(--main-color-white);
    background-color: var(--main-btn-color);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--main-transitio-duration);
}

.btn-blue:hover {
    background-color: transparent;
    border: 1px solid var(--main-btn-color);
    color: var(--main-btn-color);
}

p {
    line-height: 1.5;
    font-weight: bolder;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}





/* header ===================== */

.header {
    height: 70px;
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    font-size: 4rem;
    font-family: bold;

}

.header .container .logo a {
    color: black;
}

.header .container ul {
    display: flex;
}

.header .container ul li {
    margin-left: 30px;
}

.header .container ul li a {
    color: black;
    font-size: 1.8rem;
}


/* hero ===================== */

.hero {
    position: relative;
}

.hero>h1 {
    position: absolute;
    font-size: 14.5rem;
    font-family: -webkit-body;
    margin: 0;
    top: -190px;
    left: 100px;
    font-weight: lighter;
    z-index: 1;
}

.hero .container {
    margin-top: 15%;
}

.hero .container .home {
    width: 50%;
}

.hero .container .home .article-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .container .home .article-home .title {
    display: flex;
    flex-direction: column;
}



.hero .container .home .article-home .title h2 {
    font-size: 3rem;
    font-family: -webkit-body;
    margin-bottom: 15px;
}


.hero .container .home .article-home .title p {

    font-size: 2rem;
    font-weight: 500;
    font-family: -webkit-body;
    margin-bottom: 15px;
}




.hero .container .home .article-home .image img {
    width: 525px;
    height: 500px;
    background: #80808059;
    position: absolute;
    top: -180px;
    right: 125px;
}

.hero .container .home .article-home span a {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: -webkit-body;
    color: black;
}



/* about us ===================== */

.about {
    margin-top: 6%;
}

.about .about-art {
    display: flex;
    justify-content: space-between;
}

.about .about-art h1 {
    font-size: 5rem;
    font-family: -webkit-body;
    margin: 0;
}

.about .about-art .about-img img {
    width: 560px;
    height: 400px;
    background: grey;
}

.about .about-par {
    width: 50%;
}

.about .about-par p {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: -webkit-body;
    margin-bottom: 20px;
}



/* past items ===================== */

.past-items {
    margin-top: 5%;
}

.past-items .container .past-art {
    display: flex;
    justify-content: space-between;
}

.past-items .container .past-art .items-wrapper {
    width: 50%;
}

.past-items .container .past-art .past-item-text-right {
    max-width: 500px;
}

.past-items .container .past-art .past-item-text-right h1 {
    font-size: 5rem;
    margin: 0;
    font-family: -webkit-body;
    margin-bottom: 20px;
}

.past-items .container .past-art .past-item-text-right p {
    font-size: 2.5rem;
    font-family: -webkit-body;
    font-weight: 400;
    max-width: 490px;
}

.past-items.container .past-art .items-wrapper {
    width: 50%;
}

.past-items .container .past-art .items-wrapper .items-card {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.past-items .container .past-art .items-wrapper .items-card .img img {
    width: 100px;
    height: 110px;
    background: gray;
    margin-top: 100px;
    margin-right: 20px;
}


.past-items .container .past-art .items-wrapper .items-card .text span {
    font-size: 4rem;
    font-family: -webkit-body;
    font-weight: 100;
    display: block;
    margin-bottom: 20px;
}

.past-items .container .past-art .items-wrapper .items-card .text h2 {
    font-size: 3rem;
    margin: 10px 0;
    font-family: -webkit-body;
}

.past-items .container .past-art .items-wrapper .items-card .text p {
    font-size: 2rem;
    font-weight: 300;
    font-family: -webkit-body;
}








/* responsive====================================== */



@media (max-width: 768px) {


    /* home====================================== */
    .header .container .logo {
        font-size: 1.4rem;

    }

    .header .container ul li a {
        font-size: 1.2rem;
    }

    .hero h1 {
        font-size: 2rem;
        position: static;
        text-align: center;
        margin-top: 20px;
    }

    .hero .container .home {
        width: 100%;
    }

    .hero .container .home .article-home .image img {
        position: static;
        width: 300px;
        height: 350px;
    }

    .hero .container .home .article-home {
        display: flex;

        align-items: center;
    }

    .hero .container .home .article-home .title h2 {
        font-size: 2.5rem;
    }

    .hero .container .home .article-home .title p {
        font-size: 1.7rem;
    }

    .hero .container .home .article-home span a {
        padding: 10px;
        display: block;
    }


    /* aboutUs================================================================ */
    .about .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .about-art {
        flex-direction: column;


    }

    .about .about-par {
        width: 100%;
    }

    .about .about-art h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .about .about-par p {
        font-size: 1.7rem;
    }

    .about .about-art .about-img img {
        width: 300px;
        height: 350px;
    }

    /* past Item================================================ */
    .past-items .container .past-art {
        flex-direction: column;
        align-items: center;
    }

    .past-items .container .past-art .past-item-text-right h1 {
        font-size: 2.5rem;
    }

    .past-items .container .past-art .past-item-text-right p {
        font-size: 1.7rem;
    }

    .past-items .container .past-art .items-wrapper {
        width: 100%;
    }

    .past-items .container .past-art .items-wrapper .items-card {
        margin-top: 30px;
    }

    .past-items .container .past-art .items-wrapper .items-card .text span {
        font-size: 2.5rem;
    }

    .past-items .container .past-art .items-wrapper .items-card .text h2 {
        font-size: 2.5rem;
    }

    .past-items .container .past-art .items-wrapper .items-card .text .flex {
        display: flex;
        flex-direction: column;
    }

    .past-items .container .past-art .items-wrapper .items-card .img img {
        margin-top: 20px;
    }
}

































/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}